<h1>Listing commentaires</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Contenu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commentaires.each do |commentaire| %>
      <tr>
        <td><%= commentaire.titre %></td>
        <td><%= commentaire.contenu %></td>
        <td><%= link_to 'Show', commentaire %></td>
        <td><%= link_to 'Edit', edit_commentaire_path(commentaire) %></td>
        <td><%= link_to 'Destroy', commentaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commentaire', new_commentaire_path %>
