<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @commentaire.titre %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @commentaire.contenu %>
</p>

<%= link_to 'Edit', edit_commentaire_path(@commentaire) %> |
<%= link_to 'Back', commentaires_path %>
